<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Zoom Clone</title>
		<link rel="stylesheet" href="style.css">
		<script>
			console.log('<%= roomId %>');
		</script>
	</head>
	<body>
		<div id="video-grid">

		</div>

		<script src="script.js"></script>
	</body>
</html>
